<!-- standalone project view -->
<ion-view ng-controller="termsController" ng-init="initTerms()" title="Terms">
  <ion-nav-bar class="bar-balanced gradient" align-title="center">
      <ion-nav-back-button class="button-icon ion-ios-arrow-left">
      </ion-nav-back-button>
    </ion-nav-bar>

  <ion-content padding="true" class="has-header">
  <div class="list">
    <h4>What information do BitHatcher collect?</h4>
    When signing up for an account on BitHatcher, you’re required to enter your email adress and creating an username with a password.
    <br>
    <br>
    <h4>How do we handle your information?</h4>
    Any of the given information collected from you are strictly used in following purposes: - Personalize your experience within the application. - Improve the application - To send periodic emails
    <br>
    <br>
    <h4>How do we protect your information?</h4>
    We implement a variety of security measures to maintain the safety of your personal information when you access your personal information.
    <br>
    <br>
    <h4>Third-party</h4>
    We do not sell, trade or otherwise transfer to outside parties with your given information.
    <br>
    <br>
    <h4>Your consent</h4>
    By using BitHatcher’s application for iOS and/or Android, you consent to our privacy policy.
    <br>
    <br>
    <h4>Changes to the privacy policy</h4>
    If BitHatcher’s privacy policy has been changed, we will update the content on this page.
    The policy was last modified on 2017-05-20
    <br>
    <br>
    <h4>Contact us</h4>
    Any questions regarding our privacy policy, please refer to bithatcher.com@gmail.com.
  </div>

  </ion-content>
</ion-view>
