<!-- standalone project view -->
<ion-view ng-init="init();" ng-controller="resourcesController" title="{{project_variables.name}}'s resources" id="page2">
  <ion-nav-bar class="bar-balanced gradient" align-title="center">
      <ion-nav-back-button class="button-icon ion-ios-arrow-left">
      </ion-nav-back-button>
    </ion-nav-bar>

  <ion-content padding="true" class="has-header">
    <div class="button-bar">
      <a class="button gradient" ng-class="{'active': resources}" ng-click="switch_view('resources')">Resources</a>
      <a class="button gradient" ng-class="{'active': attacks}" ng-click="switch_view('attacks')">Attacks & spells</a>
    </div>
    <br>

    <div ng-if="attacks">
      <div class="list">
        <div class="item item-divider">
          Available attacks & spells
        </div>
        <div ng-repeat="item in project_attacks" ng-if="item.available && !item.owned" style="white-space: initial;" class="item item-avatar item-button-right">
            <img src="{{item.img_src}}">
            <h2>{{item.name}}</h2>
            <p style="white-space: initial;">
              {{item.description}}
            </p>
            <br>
            <div ng-if="item.cost === false">
                <a style="color: #e42112;" class="ion-help" style="white-space: initial;"> Earn by completing: '{{item.achievement}}' achievement</a>
            </div>
            <div ng-if="item.cost > 0">
              <a class="ion-cash"> {{item.cost}}</a>
            </div>
            <br>
            <h3>Stats:</h3>
            <div class="row">
              <div class="col col-25">
                <span><p class="progress_label">Damage:  </p></span>
              </div>
              <div class="col">
                <progress max="100" id="mini_progress" class="mini_strength" value="{{item.damage}}"> </progress>
              </div>
            </div>

            <div class="row">
              <div class="col col-25">
                <span><p class="progress_label">Protection:  </p></span>
              </div>
              <div class="col">
                  <progress max="100" id="mini_progress" class="mini_energy" value="{{item.protection}}"> </progress>
              </div>
            </div>

            <div class="row">
              Approx trigger rate: {{item.procc_per_battle}} per battle
            </div>
            <br>

            <button ng-if="item.cost > 0" ng-click="purchase_attack('{{item.sql_name}}', '{{item.name}}', {{item.cost}})" style="color:#33cd5f;background-color:transparent;" class="button button-balanced icon cart">Purchase</button>
            <button ng-if="!item.cost" style="color:#33cd5f;background-color:transparent;" class="button button-balanced icon">In progress</button>
        </div>

        <div ng-repeat="item in project_attacks" ng-if="item.owned" style="background: #e0e0e0;    white-space: initial;" class="item item-avatar item-button-right">
          <img src="{{item.img_src}}">
            <h2>{{item.name}}</h2>
            <p style="white-space: initial;">
              {{item.description}}
            </p>
            <br>
            <div ng-if="item.cost === false">
                <a style="color: green;" class="ion-help" style="white-space: initial;"> Earned by completing: '{{item.achievement}}' achievement</a>
            </div>
            <div ng-if="item.cost > 0">
              <a class="ion-cash"> {{item.cost}}</a>
            </div>
            <br>
            <h3>Stats:</h3>

            <div class="row">
              <div class="col col-25">
                <span><p class="progress_label">Damage:  </p></span>
              </div>
              <div class="col">
                <progress max="100" id="mini_progress" class="mini_strength" value="{{item.damage}}"> </progress>
              </div>
            </div>

            <div class="row">
              <div class="col col-25">
                <span><p class="progress_label">Protection:  </p></span>
              </div>
              <div class="col">
                  <progress max="100" id="mini_progress" class="mini_energy" value="{{item.protection}}"> </progress>
              </div>
            </div>

            <div class="row">
              Approx trigger rate: {{item.procc_per_battle}} per battle
            </div>
            <br>
            <br>

            <buttonstyle="color:#33cd5f;background-color:transparent;" disabled class="button button-balanced">Already owned</button>
        </div>



        <!-- <div class="item item-avatar item-button-right">
            <img src="img/food/babybottle.png">
            Feeding bottle
            <br>
            Pet stock: {{project_variables.foodtype_feeding_bottle}}
            <button ng-click="addResources('Feeding bottle',5.1, 'foodtype_feeding_bottle')" style="color:#33cd5f;background-color:transparent;" class="button button-balanced icon ion-plus"></button>
        </div> -->
      </div>
    </div>

    <div ng-if="resources">
      <div class="list">

      <div class="item item-divider">
        Food
      </div>

      <div class="item item-avatar item-button-right">
        <img src="img/food/cooked_steak.png">
        Cooked steak
        <br>
        Pet stock: {{project_variables.foodtype_cooked_steak}}
        <button ng-click="addResources('Cooked steak',0.1, 'foodtype_cooked_steak')" style="color:#33cd5f;background-color:transparent;" class="button button-balanced icon ion-plus"></button>
      </div>

      <div class="item item-avatar item-button-right">
        <img src="img/food/cooked_chicken.png">
        Cooked chicken
        <br>
        Pet stock: {{project_variables.foodtype_cooked_chicken}}
        <button ng-click="addResources('Cooked chicken',1.1, 'foodtype_cooked_chicken')" style="color:#33cd5f;background-color:transparent;" class="button button-balanced icon ion-plus"></button>
      </div>

      <div class="item item-avatar item-button-right">
        <img src="img/food/mini_carrots.png">
        Mini carrots
        <br>
        Pet stock: {{project_variables.foodtype_mini_carrot}}
        <button ng-click="addResources('Mini carrots',2.1, 'foodtype_mini_carrot')" style="color:#33cd5f;background-color:transparent;" class="button button-balanced icon ion-plus"></button>
      </div>

      <div class="item item-avatar item-button-right">
        <img src="img/food/carrot.png">
        Carrot
        <br>
        Pet stock: {{project_variables.foodtype_carrot}}
        <button ng-click="addResources('Carrot',2.0, 'foodtype_carrot')" style="color:#33cd5f;background-color:transparent;" class="button button-balanced icon ion-plus"></button>
      </div>

      <div class="item item-avatar item-button-right">
        <img src="img/food/apple.png">
        Apple
        <br>
        Pet stock: {{project_variables.foodtype_apple}}
        <button ng-click="addResources('Apple',4.0, 'foodtype_apple')" style="color:#33cd5f;background-color:transparent;" class="button button-balanced icon ion-plus"></button>
      </div>

      <div class="item item-avatar item-button-right">
        <img src="img/food/bird_seeds.png">
        Bird seeds
        <br>
        Pet stock: {{project_variables.foodtype_bird_seed}}
        <button ng-click="addResources('Bird seed',3.0, 'foodtype_bird_seed')" style="color:#33cd5f;background-color:transparent;" class="button button-balanced icon ion-plus"></button>
      </div>
    </div>

      <div class="list">
        <div class="item item-divider">
          Drinks
        </div>
        <div class="item item-avatar item-button-right">
        <img src="img/food/water.png">
          Water bottle
          <br>
          Pet stock: {{project_variables.foodtype_water}}
            <button ng-click="addResources('Water bottle',5.0, 'foodtype_water')" style="color:#33cd5f;background-color:transparent;" class="button button-balanced icon ion-plus"></button>
        </div>
        <div class="item item-avatar item-button-right">
          <img src="img/food/babybottle.png">
            Feeding bottle
            <br>
            Pet stock: {{project_variables.foodtype_feeding_bottle}}
            <button ng-click="addResources('Feeding bottle',5.1, 'foodtype_feeding_bottle')" style="color:#33cd5f;background-color:transparent;" class="button button-balanced icon ion-plus"></button>
        </div>
      </div>

      <div class="list">
        <div class="item item-divider">
          Potions
        </div>

        <div class="item item-avatar item-button-right">
          <img src="http://piq.codeus.net/static/media/userpics/piq_81320_400x400.png">
          Revival Potion
          <br>
          inventory: {{project_variables.potiontype_revival}}

        </div>
      </div>
    </div>



  </ion-content>
</ion-view>
